DTD/critic.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT critics (movie)*>
<!ELEMENT movie (critic)*>
<!ATTLIST movie name CDATA #REQUIRED>
<!ELEMENT critic (content, language, source, date, note)>
<!ATTLIST critic id CDATA #REQUIRED>
<!ELEMENT content (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT note (#PCDATA)>


