DTD/planification.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT planifications (movie)*>
<!ELEMENT movie (name,schedule*)>
<!ELEMENT schedule (location, date, hour)>
<!ELEMENT location (#PCDATA)>
<!ATTLIST location room CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT hour (#PCDATA)>
